/* SensorMonitoring.css */
.sensor-monitoring-container {
    text-align: center;
    margin: 20px;
  }
  
  nav button {
    background-color: #61dafb;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  nav button:hover {
    background-color: #21a1f1;
  }
  
  section {
    margin: 20px 0;
  }
  
  .reset-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reset-button:hover {
    background-color: darkviolet;
  }
  
  .back-button {
    background-color: #61dafb;
    border: none;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: #21a1f1;
  }
  